<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="body_content">
        <header class="cabecalho">
            <nav>
                <ul>
                    <li><a href="http://localhost/site-php-mvc-crud/">Home</a></li>
                    <li><a href="http://localhost/site-php-mvc-crud/?pagina=sobre">Sobre</a></li>
                </ul>
            </nav>
        </header>
        <div id="posts">
            {{area_dinamica}}
        </div>
    </div>
</body>
</html>